# Updated versions compatible with Python 3.10
mne~=1.9.0
numpy~=2.2.5
pandas~=2.2.3
scipy==1.9.3   # Updated from 1.7.3
scikit-learn~=1.6.1

# Additional dependencies
jsonlines==3.1.0
python-dotenv~=1.0.1
matplotlib~=3.10.1
seaborn~=0.13.2
nbformat~=5.10.4
nbconvert~=7.16.6
cloudinary~=1.42.2
supabase~=2.13.0
Flask~=3.1.0
Flask-Login~=0.6.3
Werkzeug~=3.1.3
itsdangerous~=2.2.0