/* General styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #cce6f7;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #70bff3;
    color: rgb(12, 12, 12);
}

.navbar .logo h1 {
    margin: 0;
}

.nav-links {
    display: flex;
    gap: 20px;
    margin-left: auto; /* Pushes the nav-links to the right */
}

.nav-links a {
    color: #111111;
    text-decoration: none;
    font-size: 16px;
    background-color: #fce7af;
    padding: 5px 10px;
    border-radius: 25px;
    border: 2px solid #111111;
    text-align: center; /* Centers the text horizontally */
    display: flex; /* Makes the button a flex container */
    align-items: center; /* Centers the text vertically */
    justify-content: center; /* Centers the text horizontally */
    min-width: 120px; /* Ensures consistent width for all buttons */
}

.nav-links a:hover {
    background-color: #555;
}