body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cce6f7;
    display: flex;
    flex-direction: column; /* Changes the layout to rows */
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center; /* Ensures text is centered within each element */
}

button {
    width: 80%;
    padding: 10px;
    background-color: #70bff3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}