{% extends "index.html" %}
        {% block main %}
  <h2>User Activity Log</h2>
    <table>
        <thead>
            <tr>
                <th>Activity ID</th>
                <th>User ID</th>
                <th>Activity Type</th>
                <th>Details</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for activity in activities %}
                <tr>
                    <td>{{ activity.activity_id }}</td>
                    <td>{{ activity.user_id }}</td>
                    <td>{{ activity.activity_type }}</td>
                    <td>{{ activity.activity_details }}</td>
                    <td>{{ activity.timestamp }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

        {% end block %}